<div class="endpoint-page p-4">
    <div class="mb-6" *ngIf="metadata">
        <h1 class="text-4xl font-bold text-color">{{ metadata.title }}</h1>
        <p class="text-lg text-color-secondary mt-2">{{ metadata.shortDescription }}</p>
    </div>

    <div class="grid grid-cols-12 gap-6" *ngIf="metadata">
        <div class="col-span-12 lg:col-span-7">
            <div class="card ccard m-0 p-0">
                <p-tabs [(value)]="activeTabValue">
                    <p-tablist>
                        <p-tab value="0" >Execution</p-tab>

                        <p-tab value="1" >
                            @if(executionResult) {
                                @if(executionResult.severity === 'warn' || executionResult.severity === 'error') {
                                    <p-badge value="!" severity="danger" />
                                }
                                @if(executionResult.severity === 'success') {
                                    <p-badge severity="success" />
                                }
                            }
                            Results
                        </p-tab>
                    </p-tablist>

                <p-tabpanels>
                    <p-tabpanel value="0">
                        <app-execution-form
                            [metadata]="metadata"
                            [loading]="loading"
                            (execute)="handleExecute($event)"
                            (formReset)="handleReset()">
                        </app-execution-form>
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        <div class="card px-8 py-6 shadow-xl rounded-2xl">

                            @if (executionResult) {
                                @switch (executionResult.severity) {
                                    @case ('success') {
                                        <p-message icon="pi pi-check-circle" severity="success" [text]="executionResult.detail"></p-message>
                                        {{executionResult.detail}}
                                    }
                                    @case ('warn') {
                                        <p-message severity="warn" icon="pi pi-exclamation-triangle">
                                            <span class="font-bold">{{ executionResult.summary }} : &nbsp;</span>
                                            <span class="mt-1 break-words">{{ executionResult.detail }}</span>
                                        </p-message>
                                    }
                                    @case ('error') {
                                        <p-message icon="pi pi-ban" severity="error" [text]="executionResult.detail"></p-message>
                                    }
                                }
                            } @else {
                                <div class="text-center text-color-secondary p-4">
                                    <i class="pi pi-info-circle text-2xl"></i>
                                    <p class="mt-2">Execution results will appear here.</p>
                                </div>
                            }
                        </div>
                    </p-tabpanel>
                </p-tabpanels>
                </p-tabs>
            </div>
<!--            FAQ SECTION -->
            @if (metadata.faq && metadata.faq.length > 0) {
                <p-panel [toggleable]="true" [collapsed]="false" styleClass="mt-6">
                    <ng-template pTemplate="header">
                        <div class="flex items-center justify-between w-full">
                            <h4 class="font-semibold mb-0">Frequently Asked Questions</h4>
                            <span class="p-input-icon-left ml-4">
                                    <p-iconfield iconPosition="left" class="ml-auto">
                                        <p-inputicon>
                                            <i class="pi pi-search"></i>
                                        </p-inputicon>
                                        <input
                                            type="text"
                                            pInputText
                                            placeholder="Search FAQ..."
                                            class="p-inputtext-sm"
                                            [(ngModel)]="faqSearchTerm"
                                            (input)="filterFaq()"
                                            (click)="$event.stopPropagation()" />
                                    </p-iconfield>
                            </span>
                        </div>
                    </ng-template>

                    <app-faq-section [faq]="filteredFaq"></app-faq-section>

                    @if (filteredFaq.length === 0 && faqSearchTerm) {
                        <div class="text-center p-4 text-color-secondary">
                            No results found for "{{ faqSearchTerm }}"
                        </div>
                    }
                </p-panel>
            }

        </div>

        <div class="col-span-12 lg:col-span-5">
            <app-doc-section
                [metadata]="metadata"
                [sqlQuery]="sqlQuery"
                [sqlQueryLoading]="sqlQueryLoading">
            </app-doc-section>
        </div>
    </div>
</div>
