    <div class="flex flex-col" *ngIf="metadata">
        <!-- Endpoint Path Display -->
        <div class="card mb-1">
            <div class="flex justify-between items-center">
                <a [href]="swaggerUrl"
                    target="_blank"
                   rel="noopener noreferrer"
                   class="flex-grow no-underline hover:underline text-color"
                   pTooltip=" 🔗 View in Swagger UI"
                   tooltipPosition="bottom"
                >
                    <code *ngIf="layoutService.isDarkTheme()" id="darkCode" class="font-mono text-lg surface-ground p-2 border-round">
                        {{ metadata.path }}
                    </code>
                    <code *ngIf="!layoutService.isDarkTheme()" id="lightCode" class="font-mono text-lg surface-ground p-2 border-round">{{ metadata.path }}</code>
                </a>
                <p-button icon="pi pi-copy" styleClass="p-button-text" pTooltip="Copy Path" [rounded]="true" tooltipPosition="bottom" (click)="navigator.clipboard.writeText(metadata.path)"> </p-button>
            </div>
        </div>

        <!-- Collapsible Documentation Section -->
        <p-panel [toggleable]="true" collapsed="false" [style]="{marginBottom: '1rem'}">
            <ng-template pTemplate="header">
                <h4 class="mt-3 mb-1 font-semibold">Documentation</h4>
            </ng-template>
            <section>
                <p class="text-color-secondary leading-relaxed">{{ metadata.docSection || 'No additional documentation for this endpoint.' }}</p>
            </section>
        </p-panel>

        <!-- SQL Query Display Section -->
        <p-panel [toggleable]="true" collapsed="false" [style]="{marginBottom: '1rem'}">

            <ng-template pTemplate="header">
                <h4 class="font-semibold">SQL Query</h4>
            </ng-template>

            <ng-template pTemplate="icons">
                <p-button
                    icon="pi pi-copy"
                    styleClass="p-button-text"
                    pTooltip="Copy SQL Query"
                    [rounded]="true"
                    tooltipPosition="bottom"
                    (click)="copySql($event)">
                </p-button>
            </ng-template>

            <div *ngIf="sqlQueryLoading">Loading SQL query…</div>
            <div *ngIf="!sqlQueryLoading && sqlQuery">
            <pre class="sql-pre">
              <code [highlight]="sqlQuery.toString()" language="sql" class="m-0 p-0 sql-code"></code>
            </pre>
            </div>

        </p-panel>

        <!-- Frequently Asked Questions Section -->
        <div class="flex flex-col" *ngIf="metadata">
            <div *ngIf="metadata.faq" class="card">
                <h4 class="font-semibold mb-3">Frequently Asked Questions</h4>
                <app-faq-section [faq]="metadata.faq"></app-faq-section>
            </div>
        </div>
    </div>
