<div class="flex flex-col" *ngIf="metadata">
    <!-- Endpoint Path Display -->
    <div class="card mb-1">
        <div class="flex justify-between items-center">
            <code *ngIf="layoutService.isDarkTheme()" id="darkCode" class="font-mono text-lg surface-ground p-2 border-round">{{ metadata.path }}</code>
            <code *ngIf="!layoutService.isDarkTheme()" id="lightCode" class="font-mono text-lg surface-ground p-2 border-round">{{ metadata.path }}</code>
            <p-button icon="pi pi-copy" styleClass="p-button-text" pTooltip="Copy Path" tooltipPosition="bottom" (click)="navigator.clipboard.writeText(metadata.path)"> </p-button>
        </div>
    </div>

    <!-- Collapsible Documentation Section -->
    <p-panel [toggleable]="true" collapsed="true" [style]="{marginBottom: '1rem'}">
        <ng-template pTemplate="header">
            <h4 class="mt-3 mb-1 font-semibold">Documentation</h4>
        </ng-template>
        <section>
            <p class="text-color-secondary leading-relaxed">{{ metadata.docSection || 'No additional documentation for this endpoint.' }}</p>
        </section>
    </p-panel>

    <!-- SQL Query Display Section -->
    <p-panel [toggleable]="true" collapsed="true" [style]="{marginBottom: '1rem'}">
        <ng-template pTemplate="header">
            <h4 class="mt-3 mb-1 font-semibold">SQL Query</h4>
        </ng-template>
        <div *ngIf="sqlQueryLoading">Loading SQL query…</div>
        <div *ngIf="!sqlQueryLoading && sqlQuery">
            <pre class="bg-gray-100 p-2 rounded text-xs whitespace-pre-line" style="max-width: 100%; overflow: auto">
                {{ sqlQuery }}
            </pre>
            <code>
                <p-button icon="pi pi-copy" styleClass="p-button-text" pTooltip="Copy SQL Query" tooltipPosition="bottom" (click)="navigator.clipboard.writeText(sqlQuery.toString())"> </p-button>
            </code>
        </div>
    </p-panel>

    <div class="flex flex-col" *ngIf="metadata">
        <div *ngIf="metadata.faq" class="card">
            <h4 class="font-semibold mb-3">Frequently Asked Questions</h4>
            <app-faq-section [faq]="metadata.faq"></app-faq-section>
        </div>
    </div>
</div>
