/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

.status-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    align-self: center; // Vertically center the dot

    &.active {
        background-color: #22c55e; // green-500
        box-shadow: 0 0 5px #22c55e;
    }

    &.inactive {
        background-color: #ef4444; // red-500
        box-shadow: 0 0 5px #ef4444;
    }
    &.unconfigured {
        background-color: #9ca3af; // gray-400
    }
}

#lightCode {
    color: var(--primary-color);
    background-color: #f1f1f1;
    padding: 5px;

    border-radius: 5px;
}

#darkCode{
    color: var(--primary-color);
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
}

.highlight {
    background-color: var(--primary-color);
    color: var(--primary-contrast-color); // Uses the theme's text color for the primary color
    padding: 1px 4px;
    border-radius: 4px;
    font-weight: 600; // Semi-bold
}

